/*全局样式定义*/
*{
  margin: 0;
  padding: 0;
}
a {
  color: #0e90d2;
}
.am-g {
    margin: 0 auto;
    width: 100%;
  }
  .am-u-sm-12 {
    width: 100%;
}
  .clplr {
    padding-left: 0;
    padding-right: 0;
  }
  .am-u-sm-3 {
      width: 25%;
  }
  .am-u-sm-6 {
    width: 50%;
}